// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';

// Config
@import 'config';

.hidden {
    display: none;
}

.tab-content > .tab-pane {
    display: none;
}

.tab-content > .active {
    display: block;
}

.fade {
    transition: opacity 0.15s linear;
}

.fade:not(.active) {
    opacity: 0;
}

// Buttons

.btn {
    padding: 16px 27px;
    font-size: 16px;
    line-height: 21px;
    border-radius: 5px;
    transition: all 0.5s ease;
    text-align: center;
}

.btn-fill {
    color: $white;
    border: 1px solid transparent;
    background: $accent;

    &:hover {
        color: white;
        background: #004fab;
    }

    &:active {
        background: #004595;
    }

    &:focus {
        outline: 0;
        box-shadow: 0 0 5px rgba($accent, 0.5);
    }
}

.btn-empty {
    color: $accent;
    border: 1px solid $accent;
    background: transparent;

    &:hover {
        color: $accent;
        background: #e5eef7;
    }

    &:active {
        background: #e5eef7;
    }

    &:focus {
        outline: 0;
        border-color: transparent;
        box-shadow: 0 0 5px rgba($accent, 0.5);
    }
}

// Titles
.title {
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}

.subtitle {
    margin: 0;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
}

.logo {
    .icon {
        width: 100px;
        height: 25px;
        fill: $textcolor;
    }

    span {
        display: inline-block;
        vertical-align: middle;
        margin-left: 30px;
        max-width: 150px;
        font-size: 11px;
        line-height: 13px;
    }
}

.header {
    position: relative;
    padding: 12px 0 18px;
    background: $lightblue;

    &__topline {
        margin-bottom: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
    }

    &__phone {
        font-weight: bold;
        font-size: 24px;
    }

    &__mode {
        display: inline-block;
        position: relative;
        padding-left: 30px;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        color: $gray;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 8px;
            height: 8px;
            background: #69f039;
            border-radius: 50%;
        }
    }

    &__title {
        margin: 0 0 5px;
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
        color: $gray;
        text-transform: uppercase;
    }

    &__subtitle {
        margin: 0 0 40px;
        font-weight: bold;
        font-size: 47px;
        line-height: 58px;
        text-transform: uppercase;
    }

    &__text {
        margin: 0 0 45px;
        font-size: 18px;
        line-height: 24px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__btns {
        width: 100%;
        max-width: 480px;
        display: flex;
        justify-content: space-between;
    }
}

.about {
    min-height: 135px;
    padding: 46px 0 60px;
    display: flex;
    align-items: center;

    span {
        font-weight: 600;
    }
}

.benefits {
    background: $lightblue;

    &__inner {
        min-height: 365px;
    }

    .title {
        margin: 40px 0 24px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.process {
    padding: 80px 0 0;

    &__inner {
        display: flex;
        align-items: center;
    }

    .title {
        margin: 0 0 24px;
        max-width: 350px;
    }
}

.gears {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    min-height: 400px;
    overflow: hidden;

    .gear {
        position: absolute;
        animation-name: rotate;
        // animation-duration: 8s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        fill: $lightblue;
    }

    .gear-1 {
        width: 230px;
        height: 230px;
        top: 0;
        right: 0px;
        animation-duration: 10s;
        animation-direction: reverse;
    }

    .gear-2 {
        width: 250px;
        height: 250px;
        top: 15px;
        right: 230px;
        animation-duration: 9s;
    }

    .gear-3 {
        width: 200px;
        height: 200px;
        top: 145px;
        right: 130px;
        animation-duration: 8s;
    }

    .gear-4 {
        width: 150px;
        height: 150px;
        top: 200px;
        right: 260px;
        animation-direction: reverse;
        animation-duration: 8s;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.presentation {
    padding: 0 0 80px;

    .title {
        max-width: 450px;
        margin: 0px 0 42px;
    }

    .nav-tabs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }

    .nav-item {
        padding: 32px 34px;
        width: 100%;
        max-width: 175px;
        max-height: 175px;
        min-height: 175px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        line-height: 21px;
        color: $gray;
        text-align: center;
        border: 1px solid #c7ccd1;
        transition: all 0.5s ease;

        &:hover,
        &.active {
            background: rgba(#f2f5f9, 0.75);
            border-color: transparent;
            color: $textcolor;

            .icon {
                fill: $textcolor;
            }
        }

        .icon {
            width: 2.75em;
            height: 2.75em;
            fill: $gray;
            margin: 0 0 19px;
            transition: fill 0.5s ease;
        }

        &:last-of-type {
            max-width: 350px;
            flex-direction: row;

            .icon {
                margin: 0 30px 0 0;
            }
        }
    }

    .tab-pane {
        padding: 25px 50px 40px 30px;
        background: $lightblue;
    }

    .tab-content {
        h3 {
            margin: 0 0 15px;
            font-weight: bold;
            font-size: 18px;
        }

        p {
            margin: 0 0 20px;
            line-height: 21px;
        }
    }

    .swiper-slide {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            .overlay {
                opacity: 1;
            }
        }

        img {
            width: 100%;
            max-width: 460px;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(242, 245, 249, 0.9);
            transition: opacity 0.5s;
            opacity: 0;

            a {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            svg {
                width: 60px;
                height: 60px;
                margin-bottom: 25px;
                fill: $textcolor;
                transition: all 0.3s;

                &:hover {
                    fill: $accent;
                }
            }
        }
    }

    &__text {
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #858e98;
    }
}

.advantages {
    padding-bottom: 80px;

    .title {
        max-width: 500px;
        margin: 0 0 40px;
    }

    .subtitle {
        margin: 0 0 20px;
    }

    .row:not(:last-of-type) {
        margin-bottom: 30px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        min-height: 260px;
        background-color: $lightblue;

        &_long-small {
            min-height: 290px;
        }

        &_long-big {
            min-height: 330px;
        }
    }

    &__img {
        img {
            max-width: 615px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        max-width: 500px;
        padding: 30px;

        p {
            margin: 0;
        }
    }
}

.feedback {
    padding-bottom: 88px;

    .title {
        max-width: 770px;
        margin: 0 auto 70px;
        text-align: center;
    }

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;

        div {
            display: flex;
        }
    }

    &__input {
        margin: 0 0 15px;
        padding: 20px 30px;
        border: 1px solid #c7ccd1;

        &::placeholder {
            font-size: 16px;
            color: $gray;
        }
    }

    &__textarea {
        min-height: 144px;
        margin-bottom: 20px;
        padding: 20px 30px;
        border: 1px solid #c7ccd1;
        resize: none;

        &::placeholder {
            font-size: 16px;
            color: $gray;
        }
    }

    &__form-group {
        display: flex;
        justify-content: space-between;

        label {
            margin: 0;
            max-width: 280px;
            display: flex;
            align-items: center;
            font-size: 16px;
            line-height: 21px;
            color: $gray;
        }

        input {
            margin-right: 20px;
        }
    }
}

.custom-checkbox {
    input[type='checkbox'] {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    input[type='checkbox'] + label {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }

    input[type='checkbox'] + label::before {
        content: '';
        display: inline-block;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #c7ccd1;
        border-radius: 2px;
        margin-right: 15px;
    }

    input[type='checkbox']:checked + label::before {
        background: url('/svg/check.svg') center / 30px no-repeat;
    }

    input[type='checkbox']:focus + label::before {
        border: 1px solid #000;
    }

    input[type='checkbox']:focus:not(:checked) + label::before {
        border-color: #000;
    }
}

.footer {
    background-color: $lightblue;

    &__inner {
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon {
            margin-bottom: 15px;
        }

        span {
            margin: 0 0 25px;
            text-align: center;
        }
    }
    &__phone {
        margin-bottom: 25px;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
    }

    &__policy {
        font-size: 14px;
        line-height: 13px;
        color: $gray;
    }
}

.modal {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: $textcolor;
    z-index: 99;
    transition: all 1s linear;

    &.show {
        bottom: 0;
    }

    &__close {
        padding: 10px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;

        svg {
            width: 16px;
            height: 16px;
            fill: #f7f7f7;
        }
    }

    &__content {
        position: relative;
        padding-left: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 140px;
        max-width: 700px;
        margin: 0 auto;
    }

    &__img {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        max-width: 200px;
    }

    &__text {
        max-width: 255px;
        color: $white;

        span {
            display: block;

            &:first-of-type {
                font-weight: 300;
                font-size: 14px;
                line-height: 16px;
            }

            &:last-of-type {
                font-weight: 500;
                font-size: 18px;
                line-height: 20px;
                text-transform: uppercase;
            }
        }
    }

    .btn-empty {
        color: $white;
        border-color: $white;
        font-size: 16px;
        background-color: $textcolor;

        &:hover {
            border-color: rgba($lightblue, 0.5);
            color: $lightblue;
            // opacity: .5;
        }
    }
}

@import 'media';
